<div class="container">
  <br>
  <div class="col-sm-6">
      <form #f="ngForm">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" ngModel>
          </div>
          <button class="btn btn-primary" type="button" (click)="onSignUp()">Sign Up</button>
          <button class="btn btn-outline-primary" type="button" (click)="onFacebookSignUp()"><i class="fab fa-facebook-f"></i>&nbsp;&nbsp;Continue with Facebook</button>
          <button class="btn btn-outline-primary" type="button" (click)="onGoogleSignUp()"><i class="fab fa-google"></i>&nbsp;&nbsp;Continue with Google</button>
        </form>  
  </div>
</div>
